# ansible/templates/minecraft.service.j2
[Unit]
Description=Minecraft Server
After=network.target

[Service]
User=minecraft
WorkingDirectory=/home/minecraft
ExecStart=/usr/lib/jvm/java-21-amazon-corretto/bin/java -Xmx1024M -Xms1024M -jar /home/minecraft/server.jar nogui
Restart=on-failure
SuccessExitStatus=0 1

[Install]
WantedBy=multi-user.target